{erl_opts, [
    no_debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {cowboy, "2.8.0"},
    {lager, "3.8.1"}
]}.

{dist_node, [
    {setcookie, cookie},
    {sname, get_items}
]}.

{check_for_undefined_functions, true}.

{relx, [
    {release, {get_items, "0.1.0"}, [
        get_items,
        sasl,
        cowboy, 
        ranch,
        lager
    ]},

    {dev_mode, true},
    {include_erts, true},

    {sys_config, "priv/config/sys.config"},
    {vm_args, "priv/config/vm.args"},

    {extended_start_script, true},

    {overlay, []}
]}.

{shell, [
    {config, "priv/config/sys.config"},
    {apps, [
        get_items,
        sasl,
        cowboy,
        ranch,
        lager
    ]}
]}.