[
    {lager, [
        {handlers, [
            {lager_console_backend, [{level, debug}]}
        ]}
    ]},
    {get_items, [
        {cowboy_port, 9090},
        {cache_time, 3600000},
        {recipe_mappings, #{
            <<"Neutral Steel of the Seventh Degree">> => {[
                {<<"Tin Dust">>, 1},
                {<<"Neutral Steel of the Sixth Degree">>, 3}
            ], 1},
            <<"Neutral Steel of the Sixth Degree">> => {[
                {<<"Neutral Steel of the Fifth Degree">>, 3}
            ], 1},
            <<"Neutral Steel of the Fifth Degree">> => {[
                {<<"Tungsten Ingot">>, 1},
                {<<"Vivid Alloy">>, 1},
                {<<"Neutral Steel of the Fourth Degree">>, 3}
            ], 1},
            <<"Neutral Steel of the Fourth Degree">> => {[
                {<<"Tectonic Petrotheum Bucket">>, 2},
                {<<"Neutral Steel of the Third Degree">>, 3}
            ], 1},
            <<"Neutral Steel of the Third Degree">> => {[
                {<<"Zephyrean Aerotheum Bucket">>, 2},
                {<<"Neutral Steel of the Second Degree">>, 3}
            ], 1},
            <<"Neutral Steel of the Second Degree">> => {[
                {<<"Gelid Cryotheum Bucket">>, 2},
                {<<"Neutral Steel of the First Degree">>, 3}
            ], 1},
            <<"Neutral Steel of the First Degree">> => {[
                {<<"Blazing Pyrotheum Bucket">>, 2},
                {<<"Draconium Ingot">>, 1}
            ], 1},
            <<"Vivid Alloy">> => {[
                {<<"Energetic Silver Ingot">>, 1},
                {<<"Ender Pearl">>, 1}
            ], 1},
            <<"Energetic Silver Ingot">> => {[
                {<<"Silver Dust">>, 1},
                {<<"Energetic Blend">>, 2}
            ], 1},
            <<"Energetic Blend">> => {[
                {<<"Redstone">>, 1},
                {<<"Glowstone">>, 1}
            ], 2}
        }}
    ]}  
].